<div class="list-bar">
  <div class="list-bar__item list-bar__item_flex-start">
    <div class="list-bar__green-block">
      <i class="list-bar__icon" nz-icon nzType="filter" nzTheme="outline"></i>
      <div class="list-bar__green-block-count">1</div>
      <i class="list-bar__icon" nz-icon nzType="close" nzTheme="outline"></i>
    </div>
    <p class="list-bar__title">Filter by task name...</p>
  </div>
  <div class="list-bar__item">
    <app-dropdown-filter [title]="groupFilter.title" [items]="groupFilter.items"></app-dropdown-filter>
    <app-dropdown-filter [title]="subtasksFilter.title" [items]="subtasksFilter.items"></app-dropdown-filter>

    <button class="list-bar__button"><i nz-icon nzType="share-alt" nzTheme="outline"></i> Share</button>
    <a class="list-bar__link_icon" routerLink="" nz-icon nzType="ellipsis" nzTheme="outline"></a>
  </div>
</div>
