@import '../../../../styles/variables.scss';

.list-bar {
  display: flex;
  height: $list-bar-height;
  align-items: center;
  justify-content: space-around;

  &__title {
    font-weight: 500;
    margin: 0;
  }

  &__item {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &_flex-start {
      justify-content: flex-start;
    }
  }

  &__green-block {
    padding: calc(#{$list-bar-button}/ 3) $list-bar-button;
    border-radius: 3px;
    background-color: $icont-first-color;
    margin-right: $list-bar-gap;
  }

  &__green-block-count {
    font-size: 0.66rem;
    display: inline-block;
    margin: 0 calc(#{$list-bar-count}/ 2);
    padding: calc(#{$list-bar-count}/ 10) $list-bar-count;
    border-radius: 50%;
    color: $icont-first-color;
    background-color: $main-color;
  }

  &__icon {
    margin: 0 2px;
    color: $main-color;
    cursor: pointer;
  }

  &__button {
    color: $second-color;
    padding: calc(#{$list-bar-button}/ 4) $list-bar-button;
    border: $second-color solid 1px;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
  }

  &__link {
    &_icon {
      transform: scale(1.4);
    }
  }
}
