<div class="space-header">
  <space-nav></space-nav>
  <div class="space-header__search" [class.ready]="!!user">
    <input
      class="space-header__search-input"
      #boardSearchInput
      type="search"
      [formControl]="findControl"
      [class.space-header__search-input_visible]="isBoardSearchVisible"
    />
    <button
      class="space-header__search-button space-header__icon"
      nz-icon
      nzType="search"
      nzTheme="outline"
      (click)="openSearchInput(boardSearchInput.value)"
    ></button>
    <div style="color: #000" *ngIf="result.length > 0">
      <pre style="margin-top: 250px">{{ result | json }}</pre>
    </div>
  </div>
</div>
