@import '../../../../styles/variables.scss';

.space-header {
  display: flex;
  height: $space-header-height;
  justify-content: flex-start;
  align-items: center;
  padding: 0 $space-header-padding;
  // background-color: $main-color;

  &__title {
    color: $second-color;
    margin-bottom: 0;
  }

  &__creator_bot {
    height: $space-header-user-size;
    width: $space-header-user-size;
    margin: 0 $space-header-gap;
    line-height: $space-header-user-size;
    text-align: center;
    border-radius: 50%;
    box-shadow: $border-color 2px 1px 5px;
    color: $icont-first-color;
  }

  &__search {
    margin: 0 $space-header-gap 0 auto;
  }

  &__search-input {
    display: none;
    border: $header-border;
    border-radius: $space-search-input-border;

    &_visible {
      display: inline-block;
    }
  }

  &__search-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &__icon {
    transform: scale(1.4);
    &_gray {
      color: $border-color;
    }
  }
}
