<div class="login-page">
  <div class="login-wrapper">
    <nz-tabset class="login-tabs">
      <nz-tab nzTitle="Sign in">
        <form class="login-form" [formGroup]="form" novalidate (ngSubmit)="submit()">
          <label class="label">
            Login:
            <input
              type="text"
              placeholder="your login"
              #myLogin
              [value]="authService.login"
              (input)="authService.loginHandle(myLogin.value)"
              formControlName="userEmail"
              [class]="{
                input: true,
                error: form.controls['userEmail'].errors?.['required'] && form.controls['userEmail'].touched
              }"
            />
            <div
              class="alert alert-danger"
              *ngIf="form.controls['userEmail'].errors?.['required'] && form.controls['userEmail'].touched"
            >
              Please enter a login
            </div>
          </label>
          <label class="label">
            Password:
            <input
              type="password"
              placeholder="your password"
              #myPassword
              [value]="authService.password"
              (input)="authService.passwordHandle(myPassword.value)"
              formControlName="userPassword"
              [class]="{
                input: true,
                error: form.controls['userPassword'].errors?.['required']
                    && form.controls['userPassword'].touched
              }"
            />
            <div
              class="alert alert-danger"
              *ngIf="form.controls['userPassword'].errors?.['required']
                && form.controls['userPassword'].touched"
            >
              Please enter a password
            </div>
          </label>
          <button class="login-button" nzType="primary" nz-button>Sign in</button>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Sign up">
        <form class="login-form" [formGroup]="formSignUp" novalidate (ngSubmit)="submitSignUp()">
          <label class="label">
            Name:
            <input
              type="text"
              placeholder="your name"
              #mySName
              [value]="authService.signUpName"
              (input)="authService.signUpNameHandle(mySName.value)"
              formControlName="userName"
              [class]="{
                input: true,
                error: formSignUp.controls['userName'].errors?.['required'] && formSignUp.controls['userName'].touched
              }"
            />
            <div
              class="alert alert-danger"
              *ngIf="formSignUp.controls['userName'].errors?.['required'] && formSignUp.controls['userName'].touched"
            >
              Please enter your name
            </div>
          </label>
          <label class="label">
            Login:
            <input
              type="text"
              placeholder="your login"
              #mySLogin
              [value]="authService.signUpLogin"
              (input)="authService.signUpLoginHandle(mySLogin.value)"
              formControlName="userLogin"
              [class]="{
                input: true,
                error: formSignUp.controls['userLogin'].errors?.['required'] && formSignUp.controls['userLogin'].touched
              }"
            />
            <div
              class="alert alert-danger"
              *ngIf="formSignUp.controls['userLogin'].errors?.['required'] && formSignUp.controls['userLogin'].touched"
            >
              Please enter a login
            </div>
          </label>
          <label class="label">
            Password:
            <input
              type="password"
              placeholder="your password"
              #mySPassword
              [value]="authService.signUpPassword"
              (input)="authService.signUpPasswordHandle(mySPassword.value)"
              formControlName="userNewPassword"
              [class]="{
                input: true,
                error: (formSignUp.controls['userNewPassword'].errors?.['required']
                    || formSignUp.controls['userNewPassword'].errors?.['pattern'])
                    && formSignUp.controls['userNewPassword'].touched
              }"
            />
            <div
              class="alert alert-danger"
              *ngIf="formSignUp.controls['userNewPassword'].errors?.['required']
                && formSignUp.controls['userNewPassword'].touched"
            >
              Please enter a password
            </div>
            <div
              class="alert alert-danger"
              *ngIf="formSignUp.controls['userNewPassword'].errors?.['pattern']
                && formSignUp.controls['userNewPassword'].touched"
            >
              Your password isn't strong enough
            </div>
          </label>
          <button class="login-button" nzType="primary" nz-button>Sign up</button>
        </form>
      </nz-tab>
    </nz-tabset>
  </div>
  <app-loader *ngIf="authService.isLoading"></app-loader>
</div>
