@import '../../styles/variables.scss';

.header {
  display: flex;
  position: fixed;
  height: 100%;
  width: $header-width;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-right: $header-border;

  &__main {
    flex: 1;
    text-align: center;
  }

  &__login-container {
    height: $login-container-height;
  }

  &__logo-link {
    height: $login-container-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    max-width: 75%;
  }

  &__link {
    margin: 20% auto;
    padding: 4px;
    transform: scale(1.2);
    &:hover {
      color: $icont-second-color;
      background-color: $icont-first-color;
      border-radius: 2px;
    }
  }
}
