<header class="header">
  <div class="header__main">
    <a class="header__logo-link" routerLink="/">
      <img class="header__logo" src="https://ng.ant.design/assets/img/logo.svg" alt="app logo" />
    </a>
    <header-nav [links]="nav_links" [withBorder]="true"></header-nav>
    <a routerLink="notification" class="header__link" nz-icon nzType="bell"></a>
  </div>
  <div>
    <header-nav [links]="nav_more" [withBorder]="false"></header-nav>
  </div>
  <auth-button class="header__login-container"></auth-button>
</header>
