.board-title {
  &_text {
    margin: 0;
    max-width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_edit {
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      width: 100%;
    }
  }
}
