@import '../../../../styles/variables';

.welcome {
  height: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: 'img content';

  &__img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: $space-header-padding;
    grid-area: img;
    background-image: url('../../../../assets/img/welcome-img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    display: flex;
    padding: $space-header-padding calc($space-header-padding * 2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    margin-bottom: $space-header-padding;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  &__title {
    padding-right: $phase-margin;
    margin: 0;
    font-size: 5rem;
    font-weight: 600;
    color: $first-color;
    border-right: $first-color solid 2px;
  }

  &__slogan {
    padding-left: $phase-margin;
    color: $first-color;
  }

  &__text {
    text-align: justify;
    color: $second-color;
    margin-bottom: $space-header-padding;
  }

  &__button {
    font-size: 1rem;
    padding: calc($space-aside-button-size / 3) $space-aside-button-size;
    border: 0;
    border-radius: $space-search-input-border;
    margin-bottom: calc($space-header-padding/5);
    color: $icont-second-color;
    background-color: $icont-first-color;
    text-transform: uppercase;
    cursor: pointer;

    &_shadow {
      border: 0;
      color: $border-color;
      border-bottom: $fourth-color solid 2px;
      cursor: pointer;
      background-color: transparent;
    }
  }
}
