<section class="welcome">
  <div class="welcome__img">
    <a class="welcome__link" href="http://www.freepik.com" target="_blank">Designed by vectorjuice / Freepik</a>
  </div>
  <div class="welcome__content">
    <div class="welcome__logo">
      <h1 class="welcome__title">WAPA</h1>
      <div class="welcome__slogan">
        Good boards for<br />
        a good project.
      </div>
    </div>
    <div class="welcome__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, necessitatibus? Voluptates fuga voluptatem
      illum provident quasi blanditiis nulla nihil asperiores qui saepe! Tempore voluptatibus fuga optio non architecto
      id vel.
    </div>

    <button class="welcome__button" routerLink="/list">get started</button>
    <button class="welcome__button_shadow" routerLink="/auth">register now</button>
  </div>
</section>
