<section class="welcome">
  <div class="welcome__img">
    <a class="welcome__link" href="http://www.freepik.com" target="_blank">Designed by vectorjuice / Freepik</a>
  </div>
  <div class="welcome__content">
    <div class="welcome__logo">
      <h1 class="welcome__title">WAPA</h1>
      <div class="welcome__slogan">
        Good boards for<br />
        a good project.
      </div>
    </div>
    <div class="welcome__text">
      It is a project management program for small teams of developers, created by a group of
      <a href="https://rs.school/" target="_blank">Rs School</a> students as the final assignment of the
      <a href="https://rs.school/angular/" target="_blank">Angular</a> course, led by the Angular daddy - PoMaKoM. The
      program uses a project management paradigm called kanban. Crashes, bugs, crooked and poorly designed interface,
      fight against CORS - this describes this project well and is perfect for your project with the same
      characteristics.
    </div>

    <button class="welcome__button" routerLink="/board">get started</button>
    <button class="welcome__button_shadow" routerLink="/auth">register now</button>
  </div>
</section>
