<footer class="footer">
  <a href="https://rs.school/angular/" target="_blank" class="footer__img-link">
    <img src="./assets/img/rs_school_js.svg" class="footer__img" alt="logo rs school" />
  </a>
  <b class="footer__text">2022</b>
  <p class="footer__text">
    <strong>App developers: </strong>
    <a class="footer__link" href="https://github.com/PoMaKoM" target="_blank" rel="author">PoMaKoM</a>,
    <a class="footer__link" href="https://github.com/Wolf-Den1994" target="_blank" rel="author">Wolf-Den1994</a>,
    <a class="footer__link" href="https://github.com/alexxg0152" target="_blank" rel="author">alexxg0152</a>,
    <a class="footer__link" href="https://github.com/algolj" target="_blank" rel="author">algolj</a>.
  </p>
</footer>
