<footer class="footer darkMode">
  <a href="https://rs.school/angular/" target="_blank" class="footer__img-link">
    <img src="./assets/img/rs_school_js.svg" class="footer__img" alt="logo rs school" />
  </a>
  <b class="footer__text">2022</b>
  <p class="footer__text footer__links">
    <strong>App developers: </strong>
    <a class="footer__link" href="https://github.com/PoMaKoM" target="_blank" rel="author">
      <i nz-icon nzType="github" nzTheme="outline"></i>
      PoMaKoM,
    </a>
    <a class="footer__link" href="https://github.com/Wolf-Den1994" target="_blank" rel="author">
      <i nz-icon nzType="github" nzTheme="outline"></i>
      Wolf-Den1994,
    </a>
    <a class="footer__link" href="https://github.com/alexxg0152" target="_blank" rel="author">
      <i nz-icon nzType="github" nzTheme="outline"></i>
      alexxg0152,
    </a>
    <a class="footer__link" href="https://github.com/algolj" target="_blank" rel="author">
      <i nz-icon nzType="github" nzTheme="outline"></i>
      algolj.
    </a>
  </p>
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</footer>
