@import '../../../../styles/variables.scss';

.footer {
  height: 100%;
  display: flex;
  padding: 0 $main-padding;
  justify-content: space-between;
  align-items: center;
  // background-color: blueviolet;
  border-top: 1px solid $border-color;

  &__text {
    margin: 0;
    // color: $second-color;
  }

  &__img-link {
    height: 50%;
    width: 20%;
  }

  &__img {
    max-height: 100%;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    // color: $second-color !important;

    &:hover {
      color: $link-color !important;
    }
  }
}
