<!--close aside-->
<strong
  (click)="closeAside($event)"
  class="space-aside__close-button"
  [class.space-aside__close-button_visible]="!isCollapsed"
>
  ‹
</strong>
<aside class="space-aside" [class.space-aside_open]="!isCollapsed" (click)="this.isCollapsed = false">
  <!--Title-->
  <h2 class="space-aside__title">{{ pageName }}</h2>

  <div class="bar">
    <h3 class="bar__title">{{ title }}</h3>

    <app-search class="bar__search-button" buttonDirection="left"></app-search>
  </div>

  <ul (click)="stopPropagation($event)" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li *ngFor="let board of boards" nz-menu-item>
      <i nz-icon [nzType]="iconBoard"></i>
      <span>{{ board.title }}</span>
      <span class="bar_right">
        <app-dialog (emitText)="editBoard($event, board.id)" question="Edit board">
          <button class="button button__icon" nz-icon nzType="edit" nzTheme="outline"></button>
        </app-dialog>
        <app-confirm
          [question]="'Are you sure you want to delete \'' + board.title + '\'?'"
          (emitConfirm)="removeBoard($event, board.id)"
        >
          <button class="button button__icon" nz-icon nzType="delete" nzTheme="outline"></button>
        </app-confirm>
      </span>
    </li>
  </ul>
  <app-dialog (emitText)="addBoard($event)" question="Add new board">
    <button class="space-aside__add-button">+ Add Board</button>
  </app-dialog>
</aside>
