<div class="profile-page">
  <div class="profile-wrapper">
    <div>
      <h2 class="profile-title" i18n>Profile</h2>
      <small i18n>Please fill all fields</small>
    </div>
    <form class="profile-form" [formGroup]="form" novalidate (ngSubmit)="submit()">
      <label class="label">
        <span i18n>Name:</span>
        <input
          i18n-placeholder
          type="text"
          placeholder="your new name"
          #mySName
          [value]="profileService.name"
          (input)="profileService.nameHandle(mySName.value)"
          formControlName="userName"
          [class]="{
            input: true,
            error: form.controls['userName'].errors?.['required'] && form.controls['userName'].touched
          }"
        />
        <div
          i18n
          class="alert alert-danger"
          *ngIf="form.controls['userName'].errors?.['required'] && form.controls['userName'].touched"
        >
          Please enter your name
        </div>
      </label>
      <label class="label">
        <span i18n>Login:</span>
        <input
          i18n-placeholder
          type="text"
          placeholder="your new login"
          #mySLogin
          [value]="profileService.login"
          (input)="profileService.loginHandle(mySLogin.value)"
          formControlName="userLogin"
          [class]="{
            input: true,
            error: form.controls['userLogin'].errors?.['required'] && form.controls['userLogin'].touched
          }"
        />
        <div
          i18n
          class="alert alert-danger"
          *ngIf="form.controls['userLogin'].errors?.['required'] && form.controls['userLogin'].touched"
        >
          Please enter a login
        </div>
      </label>
      <label class="label">
        <span i18n>Password:</span>
        <input
          [type]="showPass ? 'text' : 'password'"
          i18n-placeholder
          placeholder="your new password"
          #mySPassword
          [value]="profileService.password"
          (input)="profileService.passwordHandle(mySPassword.value)"
          formControlName="userNewPassword"
          [class]="{
            input: true,
            error: (form.controls['userNewPassword'].errors?.['required']
                || form.controls['userNewPassword'].errors?.['pattern'])
                && form.controls['userNewPassword'].touched
          }"
        />
        <div class="input-eye" *ngIf="!showPass" (click)="showPassHandle()">
          <i nz-icon nzType="eye-invisible" nzTheme="outline"></i>
        </div>
        <div class="input-eye" *ngIf="showPass" (click)="showPassHandle()">
          <i nz-icon nzType="eye" nzTheme="outline"></i>
        </div>
        <div
          i18n
          class="alert alert-danger"
          *ngIf="form.controls['userNewPassword'].errors?.['required']
            && form.controls['userNewPassword'].touched"
        >
          Please enter a password
        </div>
        <div
          i18n
          class="alert alert-danger"
          *ngIf="form.controls['userNewPassword'].errors?.['pattern']
            && form.controls['userNewPassword'].touched"
        >
          Your password isn't strong enough! You should have one upper letter, one lower letter, one number, one special
          symbol (?, !, @, #, $, %, ^, &, *, -) and length more 8 symbols.
        </div>
      </label>
      <button i18n class="login-button" nzType="primary" nz-button>Save</button>
    </form>
    <div class="profile-remove">
      <app-confirm
        [question]="profileService.name + ', are you sure you want to delete your account?'"
        (click)="$event.stopPropagation()"
        (emitConfirm)="onUserDelete($event)"
      >
        <button class="button button__icon" nz-icon nzType="delete" nzTheme="outline"></button>
      </app-confirm>
    </div>
  </div>
</div>
