@import '../../styles/variables';

.profile-page {
  padding: 50px 10px;
  display: flex;
  justify-content: center;

  .profile-wrapper {
    padding: 20px;
    width: 265px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    border: 1px solid $border-color;
    background-color: $main-color;
    border-radius: 6px;

    .profile-title {
      color: $first-color;
      margin: 0;
    }

    .profile-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
    }

    .label {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 6px;
      font-size: 14px;

      .input {
        color: $first-color;

        &.error {
          border: 1px solid $error-color;
          background-color: $fourth-color;
        }
      }
    }

    .profile-remove {
      position: absolute;
      top: 25px;
      right: 27px;
    }
  }
}

.alert {
  color: $error-color;
}
