@import '../../../styles/variables.scss';

.board-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;

  .mt-1 {
    margin-top: 0.25rem;
  }
}

.board-item-next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-required-marker {
    color: $first-color;
  }

  .mat-input-element {
    color: $first-color;
  }
}

// #comment {
//   color: black;
//   padding-left: 7px;
//   padding-right: 4px;
//   width: 215px;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }
