<div class="container">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Dark Mode">
        <mat-icon class="side">brightness_5</mat-icon>
        <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"></mat-slide-toggle>
        <mat-icon class="side">bedtime</mat-icon>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Language">
        <img src="https://flagicons.lipis.dev/flags/4x3/gb.svg" class="side" />
        <mat-slide-toggle></mat-slide-toggle>
        <img src="https://i.ibb.co/nCsJgpZ/flag-copy.png" class="side" />
      </nz-card>
    </div>
  </div>
</div>
